<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImgixSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F82BE5B1D25EE1100551F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F82BE691D25EE2800551F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F82BE761D25EE3300551F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F82BE831D25EE4100551F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FBB7C331D29AD510046398D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FBB7C3C1D29AD510046398D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FBB7C4F1D29AD730046398D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF42E8D1D2B312C002BE7D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
